[user]
	email = dalewis@tikva.com
	name = Dave Lewis
[credential]
	helper = "!f() { /home/dev/.vscode-server/bin/441438abd1ac652551dbe4d408dfcec8a499b8bf/node /tmp/vscode-remote-containers-d5c35be4bd1229a105b7252e6426b96efe97ff78.js git-credential-helper $*; }; f"
